/* Root Variables */
:root {
  --c-primary-cyan: hsl(179, 62%, 43%);
  --c-primary-cyan-light: hsl(178, 48%, 52%);
  --c-primary-yellow: hsl(71, 73%, 54%);
  --c-primary-white: hsl(0, 0%, 100%);

  --c-neutral-lightGray: hsl(204, 43%, 93%);
  --c-neutral-blueGray: hsl(218, 22%, 67%);

  --ff-primary: "Karla", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  /* Font Sizes: 14px, 15px, 16px, 18px, 20px, 32px. */
  --fs-200: 0.875rem;
  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 2rem;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
li {
  margin: 0;
}

li {
  list-style: none;
}

button {
  font: inherit;
}

/* Utilities */
.bg-primary-400 {
  background: var(--c-primary-cyan);
}

.bg-primary-200 {
  background: var(--c-primary-cyan-light);
}

.bg-primary-100 {
  background: var(--c-primary-white);
}

.bg-secondary {
  background: var(--c-primary-yellow);
}

.text-bold {
  font-weight: var(--fw-700);
}

body {
  background: var(--c-neutral-lightGray);

  /* Override when needed */
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);

  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Existing code used to style original footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
