@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

/* Root Variables */
:root {
  --c-primary-cyan: hsl(179, 62%, 43%);
  --c-primary-cyan-light: hsl(178, 48%, 52%);
  --c-primary-yellow: hsl(71, 73%, 54%);

  /* Accomodating alphas in bottom cards */
  --c-primary-white: 0, 0%, 100%;

  --c-neutral-lightGray: hsl(204, 43%, 93%);
  --c-neutral-blueGray: hsl(218, 22%, 67%);

  --ff-primary: "Karla", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  /* Variable Font Sizes - Intro Card */
  --fs-intro__200: 0.875rem;
  --fs-intro__400: 0.9375rem;
  --fs-intro__600: 1.25rem;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
li {
  margin: 0;
}

ul[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Base Styles */

body {
  background: var(--c-neutral-lightGray);
  min-height: 100vh;
  overflow-x: none;

  font-family: var(--ff-primary);
  font-weight: var(--fw-400);

  padding: 1em;
}

main {
  box-shadow: 0 15px 30px 0 rgba(0, 81, 171, 0.15);
}

/* Utilities */
.bg-white {
  background: hsl(var(--c-primary-white));
}

.bg-cyan__400 {
  background: var(--c-primary-cyan);
}

.bg-cyan__200 {
  background: var(--c-primary-cyan-light);
}

.bg-yellow {
  background: var(--c-primary-yellow);
}

/* Introductory card */
.card-intro__header {
  color: var(--c-primary-cyan);
  line-height: 1.15;
  letter-spacing: -0.25px;

  font-weight: var(--fw-700);
  font-size: var(--fs-intro__600);
}

.card-intro__sub {
  color: var(--c-primary-yellow);
  line-height: 1.33;
  letter-spacing: -0.19px;

  font-weight: var(--fw-700);
  font-size: var(--fs-intro__400);

  margin-top: 1.5em;
  margin-bottom: 1em;
}

.card-intro__body {
  color: var(--c-neutral-blueGray);
  line-height: 1.86;
  letter-spacing: -0.18px;

  font-size: var(--fs-intro__200);
}

/* Adjsut font sizes on desktop */
@media screen and (min-width: 46em) {
  :root {
    --fs-intro__200: 1rem;
    --fs-intro__400: 1.125rem;
    --fs-intro__600: 1.5rem;
  }
}
/* Call to action card */
.card-cta__header,
.card-testimonial__header {
  color: hsl(var(--c-primary-white));
  line-height: 1.22;
  letter-spacing: -0.23px;

  font-weight: var(--fw-700);
  font-size: 1.125rem;

  margin-bottom: 1.0625em;
}

.card-cta__body {
  color: hsl(var(--c-primary-white));
  line-height: 26px;
  letter-spacing: 1.625;
  font-size: 1rem;

  margin-top: 0.25em;
  margin-bottom: 1.625em;
}

.pricing {
  display: flex;
  align-items: center;
}

.pricing__value {
  color: hsl(var(--c-primary-white));
  line-height: 1.15625;
  letter-spacing: -0.4px;

  font-weight: var(--fw-700);
  font-size: 2rem;
}

.pricing__interval {
  color: hsla(var(--c-primary-white), 0.5);
  line-height: 1.625;
  letter-spacing: -0.2px;

  font-size: 1rem;
  margin-left: 0.75em;
}

.cta-btn {
  display: inline-block;
  text-align: center;
  line-height: 1.1875;
  letter-spacing: -0.2px;
  color: hsl(var(--c-primary-white));
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  border: none;
  transition: all 0.2s ease;
  text-transform: capitalize;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);

  padding: 1em 0;

  font-size: 1rem;
  font-weight: var(--fw-700);
}

.cta-btn:hover {
  background: hsl(71, 73%, 46%);
  box-shadow: 0px 10px 10px rgba(0, 81, 171, 0.15);
  transform: translate(0px, -2px);
}

.cta-btn:active {
  transform: translate(0px, 0px);
  box-shadow: 0px 5px 5px rgba(0, 81, 171, 0.15);
}

/* Testimonial card */
.card-testimonial__body {
  color: hsl(var(--c-primary-white), 0.75);
  line-height: 1.42857;
  letter-spacing: -0.18px;

  font-size: 0.875rem;
}

/* Mobile Styles */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 19.4375em;
  border-radius: 5px;
  overflow: hidden;
}

main > section {
  padding: 1.5em;
}

/* Desktop Styles */
@media screen and (min-width: 46em) {
  main {
    max-width: 39.6875em;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "intro intro"
      "cta testimonial";
  }

  .card-intro {
    grid-area: intro;
  }

  .card-cta {
    grid-area: cta;
  }

  .card-testimonial {
    grid-area: testimonial;
  }

  main > section {
    padding: 2.5em;
  }
}
